@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Gabarito:wght@500&family=Grand+Hotel&family=Kanit:wght@300&family=Leckerli+One&family=Monsieur+La+Doulaise&family=Montserrat:wght@300;600&family=Noto+Naskh+Arabic&family=Noto+Sans+Arabic:wght@100&family=Parisienne&family=Poppins:wght@200;300&family=Raleway:wght@200&family=Roboto:wght@300;400&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.4rem;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
::selection {
  background-color: #c8b6a66b;
  color: #000;
}
