.frequentlyAskedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 1rem;
}
.customMenu {
  width: 80%;
  justify-content: center;
  display: flex;
  margin: auto;
  padding-bottom: 6%;
  margin-top: 4%;
  select {
    font-size: 1.2rem;
    width: 70%;
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s ease-in-out;
    background-color: #967e76;
    padding: 1%;
    text-align: center;
    border-radius: 100px;
    color: #ffffff;
    &:hover {
      background-color: #3f2305;
    }
    option {
      background-color: #f1ede9;
      font-size: 1rem;
      color: #000;
      &:hover {
        background-color: #3f2305;
        color: #ffffff;
      }
    }
  }
}

.accordion {
  width: 100%;
  max-width: 1000px;
}
.item {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.question h2 {
  font-size: 1.2rem;
  color: #000;
  margin: 0;
}
.answer {
  margin-top: 20px;
  font-size: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0, 4, 0, 4);
}
.answerShow {
  max-height: 9999px;
  transition: all 0.3s cubic-bezier(0, 2, 0, 2);
}
.accordionIcon {
  color: #3f2305;
  font-weight: bold;
  font-size: 1.7rem;
  margin-left: 10px;
}
